body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	background-color: lightgrey;
}
.color_fill_1 {
	background-color: #000000;
}
.layer_19 {
	background-image: url("images/walpaper.jpg");
    background-size: cover;
}
.rectangle_1{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.logo {
	font-size: 35px;
	line-height: 65px;
	color: rgb(255,193,0);
	font-family: "Source Sans Pro";
	font-weight: bold;
	margin-left: 6%;
}
.navigation {
	font-size: 16px;
	line-height: 30px;
	color: rgb(255,255,255);
	font-family: "Source Sans Pro";
	font-weight: 300;
	text-align: right;
	float: right;
    margin: 3% 6%;
}
.rectangle_2 {
	width: 94px;
	height: 40px;
	background-color: rgba(245,239,236,0);
	border: 1px solid rgba(255,255,255,0.6);
	margin-left: 10px;
}
.top-content {
	text-align: center;
	padding: 5%;
}
.top-content h1 {
	font-size: 86px;
	line-height: 78px;
	color: rgb(245,239,236);
	font-family: "Roboto";
	font-weight: bold;
	text-align: center;
}
.top-content p {
	font-size: 20px;
	line-height: 30px;
	color: rgb(255,255,255);
	font-family: "Source Sans Pro";
	text-align: center;
    padding: 30px;

}
.shape1 {
	width: 24px;
	height: 24px;
	background-color: rgba(245,239,236,0);
	border: 1px solid #ffffff;
}
.rectangle_3 {
	display: inline-block;
	width: 72px;
	height: 52px;
	border-radius: 26px;
	background-color: rgba(245,239,236,0);
	border: 1px solid #ffffff;
	color: white;
	font-size: 45px;
}
.title {
	font-size: 42px;
	line-height: 24px;
	color: rgb(20,150,210);
	font-family: "Roboto";
	font-weight: 300;
}
.group {
	display: flex;
	justify-content:space-around;
}
.group_1 {
	display: inline-block;
}
.figure {
	position: relative;
}
.layer_21 {
	background-image: url("images/girl.jpg");
    background-size: 100% 100%;
}
.layer_22 {
	background-image: url("images/body.jpeg");
    background-size: 100% 100%;
}
.layer_23 {
	background-image: url("images/purin.jpg");
    background-size: 100% 100%;
}
.rectangle_6 {
	display: inline-block;
	width: 256px;
	height: 65px;
	background-color: #353331;
    position: absolute;
    right: -15px;
    bottom: 36px;
    border-radius: 5px;
}
.rectangle_6 p {
	font-size: 18px;
	line-height: 27px;
	color: rgb(255,255,255);
	font-family: "Source Sans Pro";
	text-align: center;
}
.rectangle_5 {
	min-width: 320px;
	height: 231px;
	background-color: rgba(241, 235, 235, 0.3);
}
.rectangle_8 {
	width: 38px;
	height: 38px;
	border-radius: 19px;
	background-color: #282727;
	position: absolute;
    bottom: 22px;
    right: -15px;
    z-index: -1;
}
.group_2  ul {
	list-style-type: none;
	font-size: 15px;
	line-height: 36px;
	color: rgb(53,52,50);
	font-family: "Roboto";
	font-weight: 300;
}
li>span {
	font-size: 30px;
}
.rectangle_7 {
	width: 322px;
	height: 214px;
	background-color: rgba(255,255,255,0.2);
	border: 1px solid rgba(53,52,50,0.3);
}