body{
	margin: 0;
}
#photo {
	background-image: url(photos/iphone.jpeg);
	height: 100%;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;

}
#background_shadow{
	background-color: rgba(130, 35, 132, 0.5);
	height: 100%;
	width:100%;
	background-size: cover;

}
#button-cv {
	display: inline-block;
	background-color: green;
	padding: 14px 25px;
	border: 0px;
	border-radius: 10px;
	color: white;
	
}

#left-side{
	width: 25%;
	height: 50%;
	float: left;
	display: inline-block;
	align-items: center;
	margin: 10% auto 0px auto;
}
.example_1, .example_2, .example_3, .example_4 {
	background: url(photos/example.png);
	position: absolute;
    background-size: cover;
	width: 100px;
	height: 200px;
}
.example_1 {
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	z-index: 1;
}
.example_2 {
	margin-top: 25px;
	margin-left: 45px;
	z-index: 2;
}
.example_3 {
	margin-top: 15px;
	margin-left: 110px;
	z-index: 4;
}
.example_4 {
	float: right;
	margin-top: 25px;
	margin-left: 170px;
	z-index: 3;
}
#right-side{
	width: 65%;
	height: 60%;
	float: right;
	margin: 10% auto 0px auto;
}

.example{
    position: relative;
	width: 290px;
	height: 200px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
#text-container {
	width: 97%;
	padding: 5px;
	text-align: center;
	margin: 5% auto;
	display: inline-block;
}
.text{
	color: white;
	width: 100%;
	height: inherit;
}

#numbers-line{
	display:flex;
	justify-content: center;
	width: 100%;
	background-color: #CCC;
	float: left;
}
.number_container{
	display: flex;
	justify-content: center;
	float: left;
	width: calc(100%/3);
}
.users_number{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.num{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 70px;
	border-radius: 70px;
	color: #29aac6;
	background-color: white;
	border: 2px solid #29aac6;
}
#images_line {
	display: flex;
	justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.image-container{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	width: calc(100%/4);

}
.image-container>img {
	width: 100px;
	height: 100px;
	border: 2px solid orange;
	border-radius: 100px;
}
/*For Phones*/
@media screen and (max-width: 500px) {
	#left-side {
		display: none;
	}
	#right-side {
		width: 100%;
	}
	.number_container:last-child, .image-container:last-child {
		display: none;
	}
	.image-container > img {
    width: 65px;
    height: 65px;
	}
}
/*For Tablet*/
@media screen and (min-width: 501px) and (max-width: 1050px) {
	#left-side {
		display: none;
	}
	#right-side {
		width: 100%;
	}
	#first-image{

		display: none;
	}
}
