.container {
	display: flex;
	align-items:center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
.calc {
	width: 50%;
	height: 50%;
	background-color: lightblue;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
	width: 20%;
}
.calc>div {
	display: flex;
	width: 100%;
	justify-content: center;
}